# TODO: Setup access to dai sanbox account
name: Test Reusable Workflows

on:
  pull_request:
    branches:
      - main

jobs:
  # Enable once we have access to dai sandbox account
  # test_terraform_deploy_basic:
  #   uses: ./.github/workflows/tf-deploy-basic.yaml
  #   with:
  #     artifact_path: path/to/artifacts
  #     aws_account_id: 123456789012
  #     aws_region: us-east-1
  #     aws_role_name: cicd-iac
  #     environment: sandbox
  #     tf_deploy_override: true
  #     tf_dir: tests/terraform
  #     tf_feedback: true
  #     tf_state_bucket: my-tf-state-bucket
  #     tf_state_key: my/tf/state
  #     tf_var_file: true
  #     tf_vars: var1=value1,var2=value2
  #     tf_version: 1.5.6

  test_docker_build:
    uses: ./.github/workflows/docker-build.yaml
    with:
      image_name: test-docker-build
      docker_context: tests/docker
      artifact_retention_days: 1

    # Enable once we have access to dai sandbox account
    # test_docker_push_ecr:
    # uses: ./.github/workflows/docker-push-ecr.yaml
    # with:
    #   aws_account_id: 123456789012
    #   aws_region: us-east-1
    #   aws_role_name: cicd-iac
    #   image_name: test-docker-build
    #   image_tag: ${{ github.ref_head }}
