name: Docker Push to ECR

on:
  workflow_call:
    inputs:
      environment:
        description: "Environment to deploy"
        type: string
      aws_account_id:
        description: "AWS Account ID"
        type: string
      aws_region:
        description: "AWS Region"
        type: string
      aws_role_name:
        description: "AWS Role Name"
        type: string
      aws_oidc_role_arn:
        description: "AWS OIDC IAM role to assume"
        type: string
      image_name:
        description: "Name of the Docker image to build"
        type: string
      image_tag:
        description: "Tag of the Docker image to build"
        type: string
        default: ${{ github.sha }}
      runner:
        description: "Runner that the main job shoud run on as JSON String"
        type: string
        default: "[ 'ubuntu-latest' ] "
      
jobs:
  push:
    name: Push to ECR
    runs-on: ${{ fromJSON(inputs.runner) }} 
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download artifact
        env:
          IMAGE_NAME: ${{ inputs.image_name || vars.image_name || github.event.repository.name}}
          GITHUB_SHA: ${{ github.sha }}
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4
        with:
          name: ${{ env.IMAGE_NAME }}-${{ github.sha }}
          path: /tmp

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        env:
          ROLE_TO_ASSUME: ${{ inputs.aws_oidc_role_arn || vars.aws_oidc_role_arn || format('arn:aws:iam::{0}:role/{1}', inputs.aws_account_id, inputs.aws_role_name) }}
          AWS_REGION: ${{ inputs.aws_region || vars.aws_region || 'eu-central-1' }}
        with:
          role-to-assume: ${{ env.ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2

      - name: Tag and push docker image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ inputs.image_name || vars.image_name || github.event.repository.name}}
          SOURCE_TAG: ${{ github.sha }}
          IMAGE_TAG: ${{ inputs.image_tag }}
          BRANCH: ${{ github.ref_name }}
        run: |
          docker load -i /tmp/$REPOSITORY.tar
          docker tag $REPOSITORY:$SOURCE_TAG $REGISTRY/$REPOSITORY:$SOURCE_TAG
          docker tag $REPOSITORY:$SOURCE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG

          if [ "$BRANCH" == 'main' ] || [ "$BRANCH" == 'master' ]; then
            docker tag $REPOSITORY:$SOURCE_TAG $REGISTRY/$REPOSITORY:latest
          fi

          docker push --all-tags $REGISTRY/$REPOSITORY
